.conatiner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}
.conatiner > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.box {
  width: 60%;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
}
